
html, body{
    margin: 0;
    padding: 0;
}
.header{
    grid-area: header;
}

.footer{
    grid-area: footer;
}
/* =========================== LOGIN =============================== */
.login-container{
    position: relative;
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    grid-template-rows: auto .08fr ;
    height: 100vh;
    grid-template-areas: 
    'logo input'
    'footer footer';
}

                /*Form div - left div*/
.login-input{
    grid-area: input;
    background-color: rgb(255, 255, 255);
    font-family:'Arial';
    display: flex;
    align-items: center;
    justify-content: center;

}
                /*Image - right div*/
.login-logo{
    grid-area: logo; 
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-logo img{
    height: 400px;
}

.login-logo2{
    height: 80px;
    margin: 0 0 -33px -20px;
    z-index: 1;
}

.login-title{
    font-size: 70px;
    text-align: right;
    font-family:'Arial Black';
    margin: -50px 0 0 40px;

}

.login-text{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 40px 0;
    text-align: center;
}

.login-textbox{
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: .3em;
    padding: 10px 30px;
    text-align: left;
    margin: 20px 0 0 50px;
}

.login-checkbox{
    margin: 15px 0 0 60px;

}

.login-button{
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 30px 0 0 130px;
    background-color: rgba(252,176,69,1);
}
.login-button:hover{
    transform: scale(1.1);
    transition: transform 100ms ease-in;
}

.login-create{
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}
.login-create a{
    text-decoration: none;
    color: rgb(185, 17, 17);
}
/* =========================== User Register =============================== */
.register-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    grid-template-areas: 
    'regHeader'
    'regContent';
}
.register-header{
    grid-area: regHeader;
    height:auto;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    text-align: center;
}
.register-HeaderTitle{
    font-weight: bold;
    font-size: 25px;
}

.register-content{
    grid-area: regContent;
    background: rgb(199,13,13);
    background: linear-gradient(180deg, rgba(199,13,13,.6) 0%, rgba(251,104,0,.6) 100%);
}

#register-layer1{
    display: grid;
    grid-template-columns: 0.35fr .7fr;
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    box-shadow: 0 0 0.5em 0em rgb(32, 32, 32);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    margin: 50px 150px 0 150px;
    grid-template-areas: 
    'LTitle already'
    'Ldiv1 Ldiv2'
    'next next';
}

.layer.active{
    display: grid; /* if active */
}

.layer{
     display: none; /* Default */
}

.Layer-div1{
    grid-area: Ldiv1;
    margin: 0px 0px;
    align-self: center;
    justify-self: center;
}
.Layer-div2{
    grid-area: Ldiv2;
    align-self: center;
    justify-content: center;
}

.Layer-Title{
    grid-area: LTitle;
    font-size: 17px;
    font-weight: 500;
    color:white;
    padding: 10px 20px;
    align-self: center;
    justify-self: left;
    background-color: rgb(43, 43, 43);
    font-family: 'Arial Black';
    min-width: fit-content;
}
.Layer-Already{
    grid-area: already;
    padding: 10px 20px;
    align-self: center;
    justify-self: right;
    position: relative;

}
.Layer-Already a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
/* Textboxes*/
.div-input> input,select{
    font-size: 15px;
    padding: 13px 18px;     
    margin: 10px;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    outline: none;
    position: relative;
    width: 220px;
    justify-items: center;
}
.div-input2 > input,select{
    font-size: 15px;
    padding: 13px 18px;     
    margin: 10px;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    outline: none;
    position: relative;
    width: 160px;
    justify-items: center;
}
.div-input2 > select{
    width: 200px;
}

#register-layer2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    box-shadow: 0 0 0.5em 0em rgb(32, 32, 32);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    margin: 50px 150px 0 150px;
    grid-template-areas: 
    'LTitle already'
    'l2title l2title'
    'l2form l2form'
    'next next';
}

.layer2-title{
    grid-area: l2title;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0;
}

.layer2-form{
    grid-area: l2form;
    text-align: center;
    font-size: 20px;
}
.layer2-text{
    padding: 10px;
    font-size: 20px;
}

.layer2-otp{
    font-size: 20px;
    padding: 10px 30px;
    margin: 50px 0 70px 0;
}

#register-layer3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    box-shadow: 0 0 0.5em 0em rgb(32, 32, 32);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    margin: 50px 150px 0 150px;
    grid-template-areas: 
    'LTitle already'
    'l3title l3title'
    'l3text l3text'
    'next next';
}

.layer3-title{
    grid-area: l3title;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}

.layer3-text{
    grid-area: l3text;
    padding: 10px;
    font-size: 20px;
    margin: 0 100px;
    text-align: center;
}
#checkboxAccept{
    margin: 30px 0;
}

.div-input> input:hover,select:hover, .div-input2> input:hover,select:hover{
    cursor: pointer;
    box-shadow: 0 0 0 0.2em rgb(185, 17, 17);
}
.div-input> input:focus,select:focus, .div-input2> input:focus,select:focus{
    cursor: pointer;
    box-shadow: 0 0 0 0.2em rgb(185, 17, 17);
}
.nextBtn{
    grid-area: next;
    /* align-self: center;
    justify-content: center; */
    text-align: center;
    margin: 25px
}
.nextBtn > #Next:hover{
    color: rgb(255, 0, 0);;
    box-shadow: 0 0 .3em .1em rgb(255, 0, 0);
    transform: scale(1.05);  
    transition: 100ms transform;
}
#Next{
    font-size: 20px;
    padding: 18px 50px;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: white;
}

/* =========================== HEADER =============================== */
img#Logo{
    max-width: 2%;
    height: auto;
    float: left;
    padding: 5px 5px 0px 5px;
}

ul#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    text-align: right;
  }     

.navElement {
    display: inline-block;
}
.navElement a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -4px; 
    padding: 16px 15px 17px 15px;
}
#btnExplore a{background-color: rgb(180, 180, 180);}
#btnBecome a{background-color: rgb(196, 33, 33);}
#btnLogin a{background-color: #ff9001;}
#btnAbout a{color:white;background-color: rgb(0, 0, 0);}
#btnUser a{color:white;background-color: #183040;text-transform: uppercase;}
#btnLogout a{background-color: #ff9001;}

#dropdown{
    display: none;
}
/* =========================== FOOTER =============================== */
.footer{
    text-align: center;
    color: #ddd;
    background-color: rgb(22, 22, 22);
    padding: 15px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    align-self: center;
}